body{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(167, 109, 194);

}
.container{
    
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(188, 144, 209);
    border-radius: 25px;
    width: 50%;
    padding-bottom: 20%;
}
header{
    display: flex;
    justify-content: center;
    text-align: center;
    color: purple;
 
}

.buttons{
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 50px;
    height: 70px;
    gap: 10px;
    justify-content: flex-end;
    flex-direction: column;
    padding-top: 80px;
}


.buttons button{
    background-color: rgb(211, 158, 211);
    border-radius: 20px;
    width: 100px;
    height: 100px;
    border: none;
    color: rgb(98, 0, 128);
  
}
.card{
    display: flex;
    justify-content: center;
    text-align: center;
}
.inputs{
    font-size: 20px ;
    color: rgb(69, 1, 95);
    font-family: Arial, Helvetica, sans-serif;
  

}
input{
    border-radius: 10px;
    border:none;
}

.resultado{
    font-size: 30px;
    flex-direction: column;
    margin-top: 100px;

}
